::selection {
    background:#ccc !important;
    color:#000 !important;
}
::-webkit-scrollbar {
    background:rgba(0, 0, 0, .1) !important;
    border:1px solid rgba(0, 0, 0, .2) !important;
    height:10px !important;
    width:10px !important;
}
::-webkit-scrollbar-thumb {
    background:#4e4e4e !important;
    min-height:35px !important;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border:0 !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
}
::-webkit-scrollbar-button {
    display:none !important;
}
