::selection {
    background:#ccc !important;
    color:#000 !important;
}
::-webkit-scrollbar {
    background:rgba(0, 0, 0, .1) !important;
    border:1px solid rgba(0, 0, 0, .2) !important;
    height:10px !important;
    width:10px !important;
}
::-webkit-scrollbar-thumb {
    background:#4e4e4e !important;
    min-height:35px !important;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border:0 !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
}
::-webkit-scrollbar-button {
    display:none !important;
}

.icon-iplug{
    background: url(chrome-extension://__MSG_@@extension_id__/images/iplug-button.png);
	width: 30px;
    height: 30px;
}

#user-lists > div.header > div.divider.right {
    width: 175px !important;
}

#waitlist > div.header > div.divider.left {
    width: 170px !important;
}

#waitlist > div.header > div.divider.right {
    right: 0 !important;
	width: 85px !important;
	left: initial !important;
}

#chat-button{
    left: 0 !important;
	width: 80px !important;
}

#users-button
{
	left: 80px !important;
	width: 90px !important;
}

#waitlist-button {
	left: 170px !important;
	width: 90px !important;
}

#iplug-button{
    left: 260px !important;
	width: 90px !important;
}
#iplug-button i{
	position: relative;
	float: left;
	margin-right: 6px;
}
#iplug-button span{
	position: relative;
	float: left;
	font-weight: 400;
	top: 4px;
	color: #808691;
	font-size: 14px;
}

#iplug-menu {
    position:absolute;
    top:0;
    z-index:3;
    display:none;
    width:100%;
    height:100%
}

#iplug-menu .header {
    position:absolute;
    top:0;
    left:0;
    width:345px;
    height:46px;
    border-bottom:#1c1f25 1px solid
}

#iplug-menu .header .divider {
    position:absolute;
    top:0;
    width:130px;
    height:1px;
    background:#1c1f25
}

#iplug-menu .header .title {
    position:relative;
    top:11px;
    margin-left:17px;
    font-size:18px
}