::selection {
    background:#ccc !important;
    color:#000 !important;
}
::-webkit-scrollbar {
    background:rgba(0, 0, 0, .1) !important;
    border:1px solid rgba(0, 0, 0, .2) !important;
    height:10px !important;
    width:10px !important;
}
::-webkit-scrollbar-thumb {
    background:#4e4e4e !important;
    min-height:35px !important;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border:0 !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
}
::-webkit-scrollbar-button {
    display:none !important;
}
.blackandwhite{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#iplug-playback{
	background: -webkit-radial-gradient(50% 50%, ellipse cover, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 95%),url(chrome-extension://__MSG_@@extension_id__/images/noise-1.png), #13242f;
}
#tooltip span {
    display:block;
}
.icon-iplug {
    background: url(chrome-extension://__MSG_@@extension_id__/images/iplug-button.png);
    width: 30px;
    height: 30px;
}
#dialog-container {
    right: 345px !important;
    padding-left: 345px !important;
}
#user-rollover {
    /*z-index: 1000000 !important; Commented due to bug*/
    /*super serious*/
}
#iplug-overlay {
	bottom: 0px;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 1234321;
    /*super super mega serious ;D*/
}
.iplug-overlay-bg{
	background: rgb(10, 10, 10);
	bottom: 0px;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	opacity: 0.7;
}
#user-lists > div.header > div.divider.right {
    width: 175px !important;
}
#waitlist > div.header > div.divider.left {
    width: 170px !important;
}
#waitlist > div.header > div.divider.right {
    right: 0 !important;
    width: 85px !important;
    left: initial !important;
}
.app-right > div.friends > div.header > div.divider.left{
	width: 260px !important;
}
.app-right > div.friends > div.header > div.divider.right{
	left: initial !important;
	right: 0px !important;
	width: 45px !important;
}
#chat-button {
    left: 0 !important;
    width: 80px !important;
}
#users-button {
    left: 80px !important;
    width: 90px !important;
}
#playback-controls .button.snooze {
    height: 56px !important;
}
#waitlist-button {
    left: 170px !important;
    width: 90px !important;
}
#friends-button{
	left: initial !important;
	width: 40px !important;
	right: 44px !important;
}
#friends-button.selected {
	right: 45px !important;
}
#visualssstyle {
    cursor: pointer;
}
#iplug-button {
    left: initial !important;
    width: 45px !important;
	right: -1px !important;
	/*cuz border*/
}
#iplug-button.selected {
	right: 0px !important;
}
#iplug-button i {
    position: relative;
    float: left;
}
#iplug-button span {
    position: relative;
    float: left;
    font-weight: 400;
    top: 4px;
    color: #808691;
    font-size: 14px;
}
#iplug-menu {
    position:absolute;
    top:0;
    z-index:3;
    display:none;
    width:100%;
    height:100%
}
#iplug-menu .header {
    position: relative;
    top:0;
    left:0;
    width:345px;
    height:46px;
    border-bottom:#1c1f25 1px solid
}
#iplug-menu .header .divider {
    position:absolute;
    top:0;
    width:300px;
    height:1px;
    background:#1c1f25
}
#iplug-menu .header .title {
    position:relative;
    top:11px;
    margin-left:17px;
    font-size:18px
}
.iplug-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px
}
.iplug-container .subcontainer {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #111317;
    overflow: hidden
}
.iplug-container .subcontainer .subtitle {
    color: #555d70;
    text-transform: uppercase
}
.iplug-container .subcontainer .noitem {
    color: #808691;
    margin-left: 27px;
    margin-top: 6px;
    margin-bottom: 12px;
    height: 19px;
}
.iplug-container .subcontainer .iplug-collapse {
    right: 15px;
    cursor: pointer
}
.iplug-container .item {
    position:relative;
    margin-top:6px;
    height:25px;
    cursor:pointer
}
.iplug-container .item i {
    top:2px;
    left:4px;
}
.iplug-container .item span {
    position:absolute;
    left:17px;
    margin-left:10px;
    color:#808691
}
.iplug-container .slider {
    position:relative;
    top:6px;
    margin-bottom: 6px
}
.iplug-container .slider .titlecontainer {
    height: 20px;
}
.iplug-container .slider .titlecontainer .title {
    position:relative;
    color:#808691;
    left: 27px
}
.iplug-container .slider .titlecontainer .value {
    position:relative;
    float:right;
    color:#808691;
    text-align:right;
    right:3px
}
.iplug-container .slider .counts {
    position:relative;
    margin-top:5px;
    margin-left:4px;
    margin-right:-1px;
    height:25px;
    text-align:justify;
    -ms-text-justify:distribute-all-lines;
    text-justify:distribute-all-lines
}
.iplug-container .slider .counts .count {
    display:inline-block;
    width:auto;
    height:15px;
    vertical-align:top;
    font-size:14px
}
.iplug-container .slider .counts .stretch {
    display:inline-block;
    width:100%;
    font-size:0;
    line-height:0
}
.iplug-container .barcontainer {
    position:relative;
    height:18px;
    margin-left:8px;
    margin-right:8px;
}
.iplug-container .barcontainer .bar {
    position:absolute;
    top:5px;
    left:0;
    width:100%;
    height:6px;
    border-radius:10px;
    background:#282c35;
    margin-left: -3px;
    padding-right: 6px;
}
.iplug-container .barcontainer .hit {
    position:absolute;
    top:5px;
    left:0;
    width:100%;
    height:6px;
    border-radius:10px;
    cursor: pointer
}
.iplug-container .slider .barcontainer .bar.selected {
    background:#009cdd;
    margin-left: -7px;
    width: 0
}
.iplug-container .slider .barcontainer .circle {
    position:absolute;
    top:0;
    width:10px;
    height:10px;
    border: 2px solid;
    border-color: #808691;
    border-radius:50%;
    background-color:#808691;
    cursor: pointer;
    margin-left: -7px;
    margin-top: 1px;
}
.iplug-container .gradientpicker .barcontainer.gradient .circle {
    position:absolute;
    top:0;
    width:10px;
    height:10px;
    border-radius:50%;
    border:solid 3px;
    border-color: #f00;
    cursor: pointer;
    margin-left: -8px;
    margin-top: 0;
    background-color: transparent;
}
.iplug-container .settings {
    margin-top: 40px;
    margin-bottom: 10px;
    border: solid 3px;
    color: #282c35;
    border-radius: 10px;
    height: 75px;
}
.iplug-container .gradientpicker .settings {
    height: 105px;
}
.iplug-container .gradientpicker .settings .delete {
    cursor: pointer;
}
.iplug-container .gradientpicker .centerall {
    cursor: pointer;
    margin-top: 12px;
}
.iplug-container .colorpicker {
    margin-top: -15px;
    margin-left: 1px;
}
.iplug-container .colorpicker .slider {
    width: 270px;
}
.iplug-container .colorpicker .colorblock {
    position:relative;
    width: 27px;
    height: 60px;
    margin-left: 272px;
    margin-top: -67px;
    margin-bottom: 12px;
    border: solid 3px;
    color: #282c35;
    border-radius: 10px;
}
.iplug-alert {
    width: 510px;
    height: 256px;
    margin: auto;
    position: fixed;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    left: 0!important;
    height: 256px;
    background: #282c35;
    -webkit-box-shadow: 0 0 5px #282c35;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.iplug-alert-frame {
    position: relative;
    width: 100%;
    height: 55px;
}
.iplug-alert-frame > i {
    top: 1px;
    right: 1px;
}
.iplug-alert-frame-title {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.iplug-alert-body {
    height: 146px;
    position: relative;
    width: 100%;
    background: #111317;
}
.iplug-alert-body-message {
    position: absolute;
    top: 37px;
    left: 5%;
    width: 90%;
    text-align: center;
    font-size: 16px;
    white-space: pre-line;
}
.iplug-alert-button-submit {
    position: relative;
    float: left;
    height: 100%;
    cursor: pointer;
    width: 100%;
    color: #eee;
    background: #00b5e6;
    background: -moz-linear-gradient(top, #00b5e6 0, #009cdd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b5e6), color-stop(100%, #009cdd));
    background: -webkit-linear-gradient(top, #00b5e6 0, #009cdd 100%);
    background: -o-linear-gradient(top, #00b5e6 0, #009cdd 100%);
    background: -ms-linear-gradient(top, #00b5e6 0, #009cdd 100%);
    background: linear-gradient(to bottom, #00b5e6 0, #009cdd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b5e6', endColorstr='#009cdd', GradientType=0);
}
.iplug-alert-button-submit > span {
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.iplug-container .nodecontainer {
    position: relative;
    height: 14px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 5px;
    border-radius: 8px;
    background-color: #282c35;
}
.iplug-container .nodecontainer .node {
    top:0;
    width:10px;
    height:10px;
    border: 2px solid;
    border-color: #808691;
    border-radius: 4px;
    background-color: #282c35;
    cursor: pointer;
    float:right;
    margin-left: 5px;
}
.iplug-container .nodecontainer .node.cross .horizontal {
    position: absolute;
    height: 8px;
    width: 2px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 1px;
    margin-left: 4px;
}
.iplug-container .nodecontainer .node.cross .vertical {
    position: absolute;
    height: 2px;
    width: 8px;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 4px;
    margin-left: 1px;
}